<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ken.question.answering.system.mapper.admin.UserMapper">
    <resultMap id="ResultMap" type="cn.ken.question.answering.system.model.admin.User">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="account" jdbcType="VARCHAR" property="account"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="role_id" jdbcType="VARCHAR" property="roleId"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="login_count" jdbcType="INTEGER" property="loginCount"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>

    <sql id="table">user</sql>

    <sql id="column">
        id,name,account,password,role_id,modify_time,last_login_time,email,last_login_ip,phone,login_count,status
    </sql>

    <sql id="insertColumnValue">
        #{id},#{name},#{account},#{password},#{roleId},#{modifyTime},#{lastLoginTime},#{email},#{lastLoginIp},#{phone},#{loginCount},#{status}
    </sql>

    <insert id="insert">
        replace into
        <include refid="table"/>
        (<include refid="column"/>)
        values (<include refid="insertColumnValue"/>)
    </insert>

    <delete id="deleteById">
        delete from
        <include refid="table"/>
        where id = #{id}
    </delete>

    <update id="update">
        update
        <include refid="table"/>
        <set>
            <if test="name!=null and name!=''">
                name = #{name},
            </if>
            <if test="account!=null and account!=''">
                account = #{account},
            </if>
            <if test="email!=null and email!=''">
                email = #{email},
            </if>
            <if test="roleId!=null and roleId!=''">
                role_id = #{roleId},
            </if>
            <if test="phone!=null and phone!=''">
                phone = #{phone},
            </if>
            <if test="status!=null">
                status = #{status}
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <update id="updateLoginInfo">
        update
        <include refid="table"/>
        <set>
            login_count = login_count+1,
            <if test="lastLoginIp!=null and lastLoginIp!=''">
                last_login_ip = #{lastLoginIp},
            </if>
            <if test="lastLoginTime!=null">
                last_login_time = #{lastLoginTime},
            </if>
            <if test="status!=null">
                status = #{status}
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="selectById" resultMap="ResultMap">
        select
        id,name,account,modify_time,role_id,last_login_time,email,last_login_ip,phone,login_count,status
        from
        <include refid="table"/>
        where id = #{id}
    </select>

    <select id="login" resultMap="ResultMap">
        select
        id,name,account,password,role_id,modify_time,last_login_time,email,last_login_ip,phone,login_count,status
        from
        <include refid="table"/>
        where account = #{account}
    </select>

    <select id="getByAttribute" resultMap="ResultMap">
        select
        id,name,account,role_id,modify_time,email,phone,status
        from
        <include refid="table"/>
        where 1=1
        <if test="name!=null and name!=''">
            and ( name like concat('%',#{name},'%')
            or account like concat('%',#{name},'%'))
        </if>
        <if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
            and modify_time &gt;= #{startTime} and modify_time &lt; #{endTime}
        </if>
        <if test="status!=null">
            and status = #{status}
        </if>
        order by modify_time desc
        <if test="index!=null and pageSize!=null and pageSize>0">
            limit #{index},#{pageSize}
        </if>
    </select>

    <select id="countByAttribute" resultType="int">
        select
        count(id)
        from
        <include refid="table"/>
        where 1=1
        <if test="name!=null and name!=''">
            and ( name like concat('%',#{name},'%')
            or account like concat('%',#{name},'%'))
        </if>
        <if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
            and modify_time &gt;= #{startTime} and modify_time &lt; #{endTime}
        </if>
        <if test="status!=null">
            and status = #{status}
        </if>
    </select>

    <select id="countByAccount" resultType="int">
        select
        count(id)
        from
        <include refid="table"/>
        where account = #{0}
    </select>

    <select id="countByIdAndAccount" resultType="int">
        select
        count(id)
        from
        <include refid="table"/>
        where id != #{0}
        and account = #{1}
    </select>

    <delete id="deleteByIdList">
        delete
        from
        <include refid="table"/>
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <update id="updatePwd">
        update
        <include refid="table"/>
        set password = #{password}
        where id = #{id}
    </update>

    <select id="checkDeleteRole" resultType="int">
        select
        count(id)
        from <include refid="table"/>
        where role_id = #{0}
    </select>
</mapper>