<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="../../lib/html5shiv.js"></script>
<script type="text/javascript" src="../../lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="../h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="../h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="../../lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="../h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="../h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="../../lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>问答回复类型占比</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 统计分析 <span class="c-gray en">&gt;</span> 问答回复类型占比 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c"> 日期范围：
        <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" class="input-text Wdate" style="width:120px;">
        -
        <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })" id="datemax" class="input-text Wdate" style="width:120px;">
        <button type="submit" class="btn btn-success radius" onclick="load_response_type();"><i class="Hui-iconfont">&#xe665;</i> 查询</button>
    </div>
	<div id="container" style="min-width:700px;height:400px"></div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="../../lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="../../lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="../h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="../h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="../../lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="../../lib/hcharts/Highcharts/5.0.6/js/highcharts.js"></script>
<script type="text/javascript" src="../../lib/hcharts/Highcharts/5.0.6/js/modules/exporting.js"></script>
<script type="text/javascript" src="../../lib/hcharts/Highcharts/5.0.6/js/highcharts-3d.js"></script>
<script type="text/javascript" src="../js/base.js"></script>
<script type="text/javascript" src="../js/utils.js"></script>
<script type="text/javascript">
$(function () {
    load_response_type();
});
function load_response_type(){
    var request = new Object();
    if($("#datemin").val() && $("#datemax").val()){
        request.startTime=$("#datemin").val()+hour_start;
        request.endTime=$("#datemax").val()+hour_end;
    }else{
        request.startTime=null;
        request.endTime=null;
    }
    var dataArray = new Array();
    var hasAnswerAndRecommendObject = new Object();
    var hasAnswerArray = new Array();
    var hasRecommendArray = new Array();
    var greetingArray = new Array();
    var unknownArray = new Array();
    var othersArray = new Array();
    POST(responseTypeStatisticsUrl+"sum",request,function(data){
        $('#container').empty();
        if(data.statusCode==200){

            var v = data.data;
            var total = v.hasAnswerAndRecommend+v.hasAnswer+v.hasRecommend+v.greeting+v.unknown+v.others;

            hasAnswerAndRecommendObject.name=hasAnswerAndRecommendName;
            hasAnswerAndRecommendObject.y=v.hasAnswerAndRecommend/total;
            hasAnswerAndRecommendObject.sliced=true;
            hasAnswerAndRecommendObject.selected=true;
            dataArray.push(hasAnswerAndRecommendObject);

            hasAnswerArray.push(hasAnswerName);
            hasAnswerArray.push(v.hasAnswer/total);
            dataArray.push(hasAnswerArray);

            hasRecommendArray.push(hasRecommendName);
            hasRecommendArray.push(v.hasRecommend/total);
            dataArray.push(hasRecommendArray);

            greetingArray.push(greetingName);
            greetingArray.push(v.greeting/total);
            dataArray.push(greetingArray);

            unknownArray.push(unknownName);
            unknownArray.push(v.unknown/total);
            dataArray.push(unknownArray);

            othersArray.push(othersName);
            othersArray.push(v.others/total);
            dataArray.push(othersArray);
        }
        $('#container').highcharts({
            chart: {
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 45,
                    beta: 0
                }
            },
            title: {
                text: '问答回复类型占比(默认为本月的数据)'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    depth: 35,
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}'
                    }
                }
            },
            series: [{
                type: 'pie',
                name: '问答回复类型占比',
                data: dataArray
            }]
        });
    },true);
}
</script>
</body>
</html>