<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ken.questionansweringsystem.mapper.ConfigurationMapper">
  <resultMap id="BaseResultMap" type="cn.ken.questionansweringsystem.model.Configuration">
    <result column="welcome" jdbcType="VARCHAR" property="welcome" />
    <result column="threshold_upper_limit" jdbcType="DOUBLE" property="thresholdUpperLimit" />
    <result column="threshold_lower_limit" jdbcType="DOUBLE" property="thresholdLowerLimit" />
    <result column="timeout" jdbcType="INTEGER" property="timeout" />
    <result column="recommend_question_number" jdbcType="INTEGER" property="recommendQuestionNumber" />
    <result column="greeting_threshold_upper_limit" jdbcType="DOUBLE" property="greetingThresholdUpperLimit" />
    <result column="unknown" jdbcType="VARCHAR" property="unknown" />
    <result column="has_answer_and_recommend" jdbcType="VARCHAR" property="hasAnswerAndRecommend" />
    <result column="has_recommend" jdbcType="VARCHAR" property="hasRecommend" />
    <result column="hot_question_limit" jdbcType="INTEGER" property="hotQuestionLimit" />
  </resultMap>
</mapper>