<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ken.questionansweringsystem.mapper.LogQaRecommendMapper">
  <resultMap id="BaseResultMap" type="cn.ken.questionansweringsystem.model.LogQaRecommend">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="qa_id" jdbcType="VARCHAR" property="qaId" />
    <result column="session_id" jdbcType="VARCHAR" property="sessionId" />
    <result column="knowledge_id" jdbcType="VARCHAR" property="knowledgeId" />
    <result column="knowledge_title" jdbcType="VARCHAR" property="knowledgeTitle" />
    <result column="sequence" jdbcType="INTEGER" property="sequence" />
  </resultMap>
</mapper>