<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ken.questionansweringsystem.mapper.UserMapper">
    <resultMap id="ResultMap" type="cn.ken.questionansweringsystem.model.User">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="table">user</sql>

    <sql id="column">
        id,name,account,password,modify_time,status
    </sql>

    <sql id="insertColumnValue">
        #{id},#{name},#{account},#{password},#{modifyTime},#{status}
    </sql>

    <insert id="insert">
        replace into
        <include refid="table"></include>
        (<include refid="column"></include>)
        values (<include refid="insertColumnValue"></include>)
    </insert>

    <delete id="deleteById">
        delete from
        <include refid="table"></include>
        where id = #{id}
    </delete>

    <update id="update">
        update
        <include refid="table"></include>
        <set>
            <if test="name!=null and name!=''">
                name = #{name},
            </if>
            <if test="account!=null and account!=''">
                account = #{account},
            </if>
            <if test="password!=null and password!=''">
                password = #{password},
            </if>
            <if test="status!=0">
                status = #{status}
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="selectById" resultMap="ResultMap">
        select
        <include refid="column"></include>
        from <include refid="table"></include>
        where id = #{id}
    </select>

    <select id="getByAttribute" resultMap="ResultMap">
        select
        id,name,account,modify_time,status
        from <include refid="table"></include>
        where 1=1
        <if test="name!=null and name!=''">
            and name like concat('%',#{name},'%')
        </if>
        <if test="account!=null and account!=''">
            and account like concat('%',#{account},'%')
        </if>
        <if test="status!=0">
            and status = #{status}
        </if>
        order by modify_time desc
        <if test="pageSize!=0">
            limit #{index},#{pageSize}
        </if>
    </select>

    <select id="countByAttribute" resultType="int">
        select
        count(id)
        from <include refid="table"></include>
        where 1=1
        <if test="name!=null and name!=''">
            and name like concat('%',#{name},'%')
        </if>
        <if test="account!=null and account!=''">
            and account like concat('%',#{account},'%')
        </if>
        <if test="status!=0">
            and status = #{status}
        </if>
    </select>
</mapper>