<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
            http://www.springframework.org/schema/task
            http://www.springframework.org/schema/task/spring-task.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-4.0.xsd
            http://www.springframework.org/schema/mvc
            http://www.springframework.org/schema/mvc/spring-mvc.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

    <context:annotation-config/>

    <context:property-placeholder location="classpath:config/*.properties"/>

    <mvc:annotation-driven/>

    <context:component-scan base-package="cn.ken.question.answering.system.*"/>

    <bean class="cn.ken.question.answering.system.config.SwaggerConfig"/>

    <!--启动aop-->
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <import resource="applicationContext-redis.xml"/>
    <!--启动异步-->
    <task:annotation-driven/>
</beans>