<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../lib/html5shiv.js"></script>
    <script type="text/javascript" src="../lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="../static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="../lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/chat.css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="../lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>聊天页面</title>
</head>
<body>
<div class="page-container">
    <div class="abs cover pnl">
        <div class="abs top pnl-head" id="pnlHead" style="background-color: rgb(42, 0, 234);">
            <div class="pnl-site hide" id="siteName" style="color: rgb(236, 236, 236);">聊天页面</div>
        </div>
        <div class="abs cover pnl-body" id="pnlBody">
            <div class="abs cover pnl-left">
                <div class="abs top pnl-alert" id="alert">这是一则消息</div>
                <div class="abs cover pnl-msgs scroll" id="show" style="padding-top: 35px;">
                    <!--<div class="msg min time" id="histStart">加载历史消息</div>-->
                    <div class="pnl-list" id="hists">
                        <!-- 历史消息 -->
                    </div>
                    <div class="pnl-list" id="messages"></div>
                    <div class="pnl-list hide" id="unreadLine">
                        <div class="msg min time unread">未读消息</div>
                    </div>
                    <div class="pnl-mask hide" id="msg-mask"></div>
                </div>
                <div class="abs bottom pnl-text">
                    <div class="abs top pnl-warn" id="pnlWarn">
                        <div class="fl btns rel pnl-warn-free">
                            <a class="radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
                        </div>
                        <div class="fl right pnl-warn-right">
                            <span class="sess-status" id="sessStatus"></span>
                            <span id="val-left" style="display:none;">您还可以输入<span id="valleft">500</span>字</span>
                        </div>
                    </div>
                    <div class="abs cover pnl-input">
                        <div class="suggest"></div>
                        <textarea onclick="hiddenSuggest()" class="scroll" id="question" placeholder="在此输入..." wrap="hard"></textarea>
                        <div class="abs atcom-pnl scroll hide" id="atcomPnl">
                            <ul class="atcom" id="atcom">
                            </ul>
                        </div>
                    </div>
                    <div class="abs br pnl-btn" id="submit"
                         style="background-color: rgb(42, 0, 234); color: rgb(255, 255, 255);">发送
                    </div>
                    <div class="abs cover input-mask hide" id="recon">
                        <div class="recon-tip" id="distype">
                            <span id="closeTip">因长时间未活动会话已关闭</span>，您可以<i id="refresh">&nbsp;刷新 </i>或<i id="startChat">
                            继续对话 </i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="abs right pnl-right">
                <div class="pnl-right-content">
                    <div class="pnl-tabs">
                        <div class="tab-btn active" id="hot-tab" style="width: 90%;">常见问题</div>
                    </div>
                    <div class="pnl-hot">
                        <ul class="rel-list unselect" id="hots"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="../static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="../static/h-ui.admin/js/H-ui.admin.js"></script>

<script type="text/javascript" src="../lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="../lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="js/utils.js"></script>
<script type="text/javascript">
    $(function(){
        hiddenSuggest();
        sessionId = "";
        var value = null;
        loadConfig();
        loadHotQuestion();
        $("#submit").click(function(){
            request(value);
        });
        document.onkeydown=function(e){
            if(e.keyCode == 13 && e.ctrlKey){
                document.getElementById("question").value += "\n";
            }else if(e.keyCode == 13){
                e.preventDefault();
                request(value);
            }else if(e.keyCode == 27){
                hiddenSuggest();
            }
        }
    });

    function loadHotQuestion(){
        var html="";
        var request = new Object();
        request.channelId = web_channel_id;
        request.userId = getUserId();

        POST(qaUrl2+"hot/question/get", request, function (data){
            if (data.statusCode == 200) {
                $("#hots").empty();
                $.each(data.data, function (i, v) {
                    html += "<li class='rel-item' title='点击发送问题' onclick='suggestRequest(this)'>"+ v.knowledgeTitle+"</li>";
                });
                $("#hots").append(html);
            }
        },true);
    }

    var current_question = "";

    function getSuggest() {
        var suggest = "";
        var request = new Object();
        request.question = $.trim(current_question);
        request.userId = getUserId();

        POST(qaUrl2+"suggest", request, function (data){
            if (data.statusCode == 200) {
                $.each(data.data, function (i, v) {
                    suggest += "<p><a href='javascript:;' onclick='suggestRequest(this)'>" + v + "</a></p>";
                });
                $(".suggest").append(suggest);
                $(".suggest").css("display", "block");
                ($(".suggest").children("p:first-child")[0]).scrollIntoView();
            }
        },true);
    }

    function suggestRequest(object){
        request($(object).html());
    }

    function suggest() {
        var question = $("#question").val();

        if (question=="") {
            hiddenSuggest();
            return;
        }
        if (current_question == question) {
            return;
        }
        current_question = question;

        hiddenSuggest();

        getSuggest();
    }

    function hiddenSuggest(){
        $(".suggest *").remove();
        $(".suggest").css("display", "none");
    }

    setInterval("suggest()", 2000);

    function request(value){
        if(value!=null){
            $("#question").val(value);
        }
        var question = $("#question").val();
        if(question=="" || question.length>500){
            layer.msg("问题不能为空,或长度超过500",{icon:5,time:1000});
            return;
        }
        var requestHtml = "";
        requestHtml+='<div class="msg guest" name="guest">';
        requestHtml+='<div class="msg-right">';
        requestHtml+='<div class="msg-host"><i class="Hui-iconfont Hui-iconfont-avatar"></i></div>';
        requestHtml+='<div class="msg-ball" title="'+date_format(second_format,new Date().getTime())+'">'+question+'</div>';
        requestHtml+='</div>';
        requestHtml+='</div>';
        $("#messages").append(requestHtml);
        var question_answer = new Object();
        question_answer.userId = getUserId();
        question_answer.channelId = web_channel_id;
        question_answer.question = question;
        question_answer.sessionId = sessionId;
        POST(qaUrl2+"request",question_answer,function(data){
            var answerContent = '';
            if(data.statusCode==200){
                var response = data.data;
                if(response.answer!=null){
                    answerContent+=response.answer+'</br>';
                }
                if(response.reminders!=null){
                    answerContent+=response.reminders+'</br>';
                }
                if(response.recommendList!=null && response.recommendList.length>0){
                    $.each(response.recommendList,function(i,v){
                        answerContent+= "<a href='javascript:;' onclick='request(\""+v.knowledgeTitle+"\")'>"+v.sequence+":"+ v.knowledgeTitle+"</a></br>";
                    });
                }
                if(response.message!=null){
                    answerContent=response.message;
                }
                sessionId=response.sessionId;
            }else{
                answerContent='不好意思,系统好像出了点问题.';
                layer.msg(answerContent,{icon:5,time:1000});
            }
            var html = "";
            html+='<div class="msg robot" name="robot">';
            html+='<div class="msg-left">';
            html+='<div class="msg-host"><i class="Hui-iconfont Hui-iconfont-kefu"></i></div>';
            html+='<div class="msg-ball" title="'+date_format(second_format,new Date().getTime())+'"><span>'+answerContent+'</span></div>';
            html+='</div>';
            html+='</div>';
            $("#messages").append(html);
            ($('#messages').children("div:last-child")[0]).scrollIntoView();
            $("#question").val('');
        },true);
        hiddenSuggest();
    }
    function loadConfig(){
        GET(qaUrl2+"config/get",null,function(data){
            if(data.statusCode==200){
                var configuration = data.data;
                var html = "";
                html+='<div class="msg robot" name="robot">';
                html+='<div class="msg-left">';
                html+='<div class="msg-host"><i class="Hui-iconfont Hui-iconfont-kefu"></i></div>';
                html+='<div class="msg-ball" title="'+date_format(second_format,new Date().getTime())+'"><span>'+configuration.welcome+'</span></div>';
                html+='</div>';
                html+='</div>';
                $("#messages").append(html);
            }
        },true);
    }
</script>
</body>
</html>