<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="../lib/html5shiv.js"></script>
<script type="text/javascript" src="../lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="../static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="../lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="../lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>我的桌面</title>
</head>
<body>
<nav class="breadcrumb"><a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<p class="f-20 text-success">欢迎使用后台管理系统！</p>
	<p>登录次数：<span id="loginCount"></span> </p>
	<p>上次登录IP：<span id="lastLoginIp"></span>  上次登录时间：<span id="lastLoginTime"></span></p>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th colspan="7" scope="col">信息统计</th>
			</tr>
			<tr class="text-c">
				<th>统计</th>
				<th>词库</th>
				<th>知识库</th>
				<th>分类</th>
				<th>寒暄知识库</th>
				<th>问答数</th>
			</tr>
		</thead>
		<tbody id="info_statistics"></tbody>
	</table>
	<table class="table table-border table-bordered table-bg mt-20">
		<thead>
			<tr>
				<th colspan="2" scope="col">服务器信息</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th width="30%">服务器计算机名</th>
				<td><span id="computerName"></span></td>
			</tr>
			<tr>
				<td>服务器IP地址</td>
				<td><span id="ip"></span></td>
			</tr>
			<tr>
				<td>服务器操作系统 </td>
				<td><span id="osName"></span></td>
			</tr>
			<tr>
				<td>操作系统的构架 </td>
				<td><span id="osArch"></span></td>
			</tr>
			<tr>
				<td>操作系统的版本 </td>
				<td><span id="osVersion"></span></td>
			</tr>
			<tr>
				<td>JVM可以使用的总内存 </td>
				<td><span id="totalMemory"></span></td>
			</tr>
			<tr>
				<td>JVM可以使用的剩余内存 </td>
				<td><span id="freeMemory"></span></td>
			</tr>
			<tr>
				<td>JVM可以使用的处理器个数 </td>
				<td><span id="availableProcessors"></span></td>
			</tr>
			<tr>
				<td>Java的运行环境版本 </td>
				<td><span id="javaVersion"></span></td>
			</tr>
			<tr>
				<td>Java的运行环境供应商 </td>
				<td><span id="javaVendor"></span></td>
			</tr>
			<tr>
				<td>Java的安装路径 </td>
				<td><span id="javaHome"></span></td>
			</tr>
		</tbody>
	</table>
</div>
<footer class="footer mt-20">
	<div class="container">
	</div>
</footer>
<script type="text/javascript" src="../lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="../static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="../static/js/base.js"></script>
<script type="text/javascript" src="../static/js/utils.js"></script>
<script>
	$(function(){
		loadMainPage();
		loadServerInfo();
		loadInfoStatisticsTable();
	});
	function loadMainPage(){
		var userJson = getCookie("user");
		var user = JSON.parse(userJson);
		$("#loginCount").html(user.loginCount);
		$("#lastLoginIp").html(user.lastLoginIp);
		$("#lastLoginTime").html(date_format(second_format,user.lastLoginTime));
	}
	function loadServerInfo(){
		POST(serverInfoUrl+"info/get",new Object(),function(data){
			if(data.statusCode==200){
				var serverInfo = data.data;
				$("#computerName").html(serverInfo.computerName);
				$("#ip").html(serverInfo.ip);
				$("#totalMemory").html(serverInfo.totalMemory);
				$("#freeMemory").html(serverInfo.freeMemory);
				$("#availableProcessors").html(serverInfo.availableProcessors);
				$("#javaVersion").html(serverInfo.javaVersion);
				$("#javaVendor").html(serverInfo.javaVendor);
				$("#javaHome").html(serverInfo.javaHome);
				$("#osName").html(serverInfo.osName);
				$("#osArch").html(serverInfo.osArch);
				$("#osVersion").html(serverInfo.osVersion);
			}
		},true);
	}
	function loadInfoStatisticsTable(){
		POST(serverInfoUrl+"info/statistics",new Object(),function(data){
			if(data.statusCode==200){
				var statisticsList = data.data;
				$("#info_statistics").empty();
				$.each(statisticsList,function(i,v){
					var title = "";
					var html = "";
					switch (v.type){
						case 1:title="总数";break;
						case 2:title="今日";break
						case 3:title="昨日";break
						case 4:title="本周";break
						case 5:title="本月";break
					}
					html+='<tr class="text-c">';
					html+='<td>'+title+'</td>';
					html+='<td>'+v.lexicon+'</td>';
					html+='<td>'+v.knowledge+'</td>';
					html+='<td>'+v.classification+'</td>';
					html+='<td>'+v.greeting+'</td>';
					html+='<td>'+v.qa+'</td>';
					html+='</tr>';
					$("#info_statistics").append(html);
				});
			}
		},true);

	}
</script>
</body>
</html>