<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ken.questionansweringsystem.mapper.knowledge.GreetingAnswerMapper">
  <resultMap id="ResultMap" type="cn.ken.questionansweringsystem.model.knowledge.GreetingAnswer">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="channel_id" jdbcType="INTEGER" property="channelId" />
    <result column="greeting_id" jdbcType="VARCHAR" property="greetingId" />
  </resultMap>

  <sql id="table">greeting_answer</sql>

  <sql id="column">
    id,answer,channel_id,greeting_id
  </sql>

  <sql id="insertColumnValue">
    #{id},#{answer},#{channelId},#{greetingId}
  </sql>

  <insert id="insert">
    replace into
    <include refid="table"/>
    (<include refid="column"/>)
    values (<include refid="insertColumnValue"/>)
  </insert>

  <insert id="batchInsert">
    replace into
    <include refid="table"/>
    (<include refid="column"/>)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id},#{item.answer},#{item.channelId},#{item.greetingId})
    </foreach>
  </insert>

  <delete id="deleteById">
    delete from
    <include refid="table"/>
    where id = #{id}
  </delete>

  <delete id="deleteByGreetingId">
    delete from
    <include refid="table"/>
    where greeting_id = #{id}
  </delete>

  <delete id="deleteByGreetingIdList">
    delete from
    <include refid="table"/>
    where greeting_id in
    <foreach collection="list" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

  <update id="update">
    update
    <include refid="table"/>
    <set>
      <if test="answer!=null and answer!=''">
        answer = #{answer},
      </if>
      <if test="channelId!=null">
        channel_id = #{channelId},
      </if>
      <if test="greetingId!=null and greetingId!=''">
        greeting_id = #{greetingId}
      </if>
    </set>
    <where>
      id = #{id}
    </where>
  </update>

  <select id="selectById" resultMap="ResultMap">
    select
    <include refid="column"/>
    from
    <include refid="table"/>
    where id = #{id}
  </select>

  <select id="getByGreetingId" resultMap="ResultMap">
    select
    <include refid="column"/>
    from
    <include refid="table"/>
    where greeting_id = #{0}
  </select>

  <select id="getByAttribute" resultType="java.lang.String">
    select
    distinct(greeting_id)
    from
    <include refid="table"/>
    where answer like concat('%',#{0},'%')
  </select>
</mapper>