<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ken.questionansweringsystem.mapper.knowledge.LexiconMapper">
  <resultMap id="ResultMap" type="cn.ken.questionansweringsystem.model.knowledge.Lexicon">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="topic" jdbcType="VARCHAR" property="topic" />
    <result column="topic_set" jdbcType="VARCHAR" property="topicSet" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="modifier_id" jdbcType="VARCHAR" property="modifierId" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>

  <sql id="table">lexicon</sql>

  <sql id="column">
    id,topic,topic_set,type,modify_time,modifier_id,status
  </sql>

  <sql id="insertColumnValue">
    #{id},#{topic},#{topicSet},#{type},#{modifyTime},#{modifierId},#{status}
  </sql>

  <insert id="insert">
    replace into
    <include refid="table"/>
    (<include refid="column"/>)
    values (<include refid="insertColumnValue"/>)
  </insert>

  <insert id="batchInsert">
    replace into
    <include refid="table"/>
    (<include refid="column"/>)
    values
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.id},#{item.topic},#{item.topicSet},#{item.type},#{item.modifyTime},#{item.modifierId},#{item.status})
    </foreach>
  </insert>

  <delete id="deleteById">
    delete from
    <include refid="table"/>
    where id = #{id}
  </delete>

  <delete id="batchDelete">
    delete from
    <include refid="table"/>
    where id in
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

  <update id="update">
    update
    <include refid="table"/>
    <set>
      <if test="topic!=null and topic!=''">
        topic = #{topic},
      </if>
      <if test="topicSet!=null and topicSet!=''">
        topic_set = #{topicSet},
      </if>
      <if test="status!=null">
        status = #{status},
      </if>
      <if test="type!=null">
        type = #{type}
      </if>
    </set>
    <where>
      id = #{id}
    </where>
  </update>

  <select id="selectById" resultMap="ResultMap">
    select
    <include refid="column"/>
    from
    <include refid="table"/>
    where id = #{id}
  </select>

  <select id="getByAttribute" resultMap="ResultMap">
    select
    <include refid="column"/>
    from
    <include refid="table"/>
    where 1=1
    <if test="topic!=null and topic!=''">
      and (topic like concat('%',#{topic},'%')
      or topic_set like concat('%',#{topic},'%'))
    </if>
    <if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
      and modify_time &gt;= #{startTime} and modify_time &lt; #{endTime}
    </if>
    <if test="status!=null">
      and status = #{status}
    </if>
    <if test="type!=null">
      and type = #{type}
    </if>
    <if test="modifierList!=null">
      and modifier_id in
      <foreach collection="modifierList" index="index" item="item" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    order by modify_time desc,id desc
    <if test="pageSize!=0">
      limit #{index},#{pageSize}
    </if>
  </select>

  <select id="countByAttribute" resultType="int">
    select
    count(id)
    from
    <include refid="table"/>
    where 1=1
    <if test="topic!=null and topic!=''">
      and (topic like concat('%',#{topic},'%')
      or topic_set like concat('%',#{topic},'%'))
    </if>
    <if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
      and modify_time &gt;= #{startTime} and modify_time &lt; #{endTime}
    </if>
    <if test="status!=null">
      and status = #{status}
    </if>
    <if test="type!=null">
      and type = #{type}
    </if>
    <if test="modifierList!=null">
      and modifier_id in
      <foreach collection="modifierList" index="index" item="item" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
  </select>

  <select id="countByTopic" resultType="int">
    select
    count(id) from
    <include refid="table"/>
    where topic = #{0}
  </select>

  <select id="countByIdAndTopic" resultType="int">
    select
    count(id) from
    <include refid="table"/>
    where id != #{0}
    and topic = #{1}
  </select>
</mapper>