<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ken.questionansweringsystem.mapper.configuration.ConfigurationMapper">
  <resultMap id="ResultMap" type="cn.ken.questionansweringsystem.model.configuration.Configuration">
    <result column="welcome" jdbcType="VARCHAR" property="welcome" />
    <result column="threshold_upper_limit" jdbcType="DOUBLE" property="thresholdUpperLimit" />
    <result column="threshold_lower_limit" jdbcType="DOUBLE" property="thresholdLowerLimit" />
    <result column="timeout" jdbcType="INTEGER" property="timeout" />
    <result column="recommend_question_number" jdbcType="INTEGER" property="recommendQuestionNumber" />
    <result column="greeting_threshold_upper_limit" jdbcType="DOUBLE" property="greetingThresholdUpperLimit" />
    <result column="unknown" jdbcType="VARCHAR" property="unknown" />
    <result column="has_answer_and_recommend" jdbcType="VARCHAR" property="hasAnswerAndRecommend" />
    <result column="has_recommend" jdbcType="VARCHAR" property="hasRecommend" />
    <result column="hot_question_limit" jdbcType="INTEGER" property="hotQuestionLimit" />
  </resultMap>
  <sql id="table">configuration</sql>

  <update id="update">
    update
    <include refid="table"/>
    <set>
      <if test="welcome!=null and welcome!=''">welcome = #{welcome},</if>
      <if test="thresholdUpperLimit!=null">threshold_upper_limit = #{thresholdUpperLimit},</if>
      <if test="thresholdLowerLimit!=null">threshold_lower_limit = #{thresholdLowerLimit},</if>
      <if test="timeout!=null">timeout = #{timeout},</if>
      <if test="greetingThresholdUpperLimit!=null">greeting_threshold_upper_limit = #{greetingThresholdUpperLimit},</if>
      <if test="unknown!=null and unknown!=''">unknown = #{unknown},</if>
      <if test="hasAnswerAndRecommend!=null and hasAnswerAndRecommend!=''">has_answer_and_recommend = #{hasAnswerAndRecommend},</if>
      <if test="hasRecommend!=null and hasRecommend!=''">has_recommend = #{hasRecommend},</if>
      <if test="hotQuestionLimit!=null">hot_question_limit = #{hotQuestionLimit}</if>
    </set>
  </update>

  <select id="get" resultMap="ResultMap">
    select * from
    <include refid="table"/>
  </select>
</mapper>