<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ken.question.answering.system.mapper.knowledge.ClassificationMapper">
  <resultMap id="ResultMap" type="cn.ken.question.answering.system.model.knowledge.Classification">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="p_id" jdbcType="VARCHAR" property="pId" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="modifier_id" jdbcType="VARCHAR" property="modifierId" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>

  <sql id="table">classification</sql>

  <sql id="column">
    id,name,description,p_id,modify_time,modifier_id,status
  </sql>

  <sql id="insertColumnValue">
    #{id},#{name},#{description},#{pId},#{modifyTime},#{modifierId},#{status}
  </sql>

  <insert id="insert">
    replace into
    <include refid="table"/>
    (<include refid="column"/>)
    values (<include refid="insertColumnValue"/>)
  </insert>

  <delete id="deleteById">
    delete from
    <include refid="table"/>
    where id = #{id}
  </delete>

  <delete id="deleteByIdList" parameterType="java.util.List">
    delete from
    <include refid="table"/>
    where id in
    <foreach collection="list" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

  <update id="update">
    update
    <include refid="table"/>
    <set>
      <if test="name!=null and name!=''">
        name = #{name},
      </if>
      <if test="description!=null and description!=''">
        description = #{description},
      </if>
      <if test="pId!=null and pId!=''">
        p_id = #{pId},
      </if>
      <if test="modifierId!=null and modifierId!=''">
        modifier_id = #{modifierId},
      </if>
      <if test="status!=null">
        status = #{status}
      </if>
    </set>
    <where>
      id = #{id}
    </where>
  </update>

  <select id="selectById" resultMap="ResultMap">
    select
    <include refid="column"/>
    from
    <include refid="table"/>
    where id = #{id}
  </select>

  <select id="getByAttribute" resultMap="ResultMap">
    select
    <include refid="column"/>
    from
    <include refid="table"/>
    where 1=1
    <if test="name!=null and name!=''">
      and (name like concat('%',#{name},'%')
       or description like concat('%',#{name},'%'))
    </if>
    <if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
      and modify_time &gt;= #{startTime} and modify_time &lt; #{endTime}
    </if>
    <if test="status!=null">
      and status = #{status}
    </if>
    <if test="pId!=null and pId!=''">
      and p_id = #{pId}
    </if>
    order by modify_time desc
    <if test="pageSize!=0">
      limit #{index},#{pageSize}
    </if>
  </select>

  <select id="countByAttribute" resultType="int">
    select
    count(id)
    from
    <include refid="table"/>
    where 1=1
    <if test="name!=null and name!=''">
      and (name like concat('%',#{name},'%')
      or description like concat('%',#{name},'%'))
    </if>
    <if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
      and modify_time &gt;= #{startTime} and modify_time &lt; #{endTime}
    </if>
    <if test="status!=null">
      and status = #{status}
    </if>
    <if test="pId!=null and pId!=''">
      and p_id = #{pId}
    </if>
  </select>

  <select id="countByName" resultType="int">
    select
    count(id)
    from
    <include refid="table"/>
    where name = #{0}
    and p_id = #{1}
  </select>

  <select id="countByIdAndName" resultType="int">
    select
    count(id)
    from
    <include refid="table"/>
    where
    id != #{0}
    and name = #{1}
    and p_id = #{2}
  </select>

  <select id="getByPId" resultType="java.lang.String">
    select
    id
    from
    <include refid="table"/>
    where p_id = #{0}
  </select>
</mapper>