<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ken.question.answering.system.mapper.knowledge.ExtensionQuestionMapper">
  <resultMap id="ResultMap" type="cn.ken.question.answering.system.model.knowledge.ExtensionQuestion">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="knowledge_id" jdbcType="VARCHAR" property="knowledgeId" />
  </resultMap>

  <sql id="table">extension_question</sql>

  <sql id="column">
    id,title,knowledge_id
  </sql>

  <sql id="insertColumnValue">
    #{id},#{title},#{knowledgeId}
  </sql>

  <insert id="insert">
    replace into
    <include refid="table"/>
    (<include refid="column"/>)
    values (<include refid="insertColumnValue"/>)
  </insert>

  <insert id="batchInsert">
    replace into
    <include refid="table"/>
    (<include refid="column"/>)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id},#{item.title},#{item.knowledgeId})
    </foreach>
  </insert>

  <delete id="deleteById">
    delete from
    <include refid="table"/>
    where id = #{id}
  </delete>

  <delete id="deleteByKnowledgeId">
    delete from
    <include refid="table"/>
    where knowledge_id = #{id}
  </delete>

  <delete id="deleteByKnowledgeIdList">
    delete from
    <include refid="table"/>
    where knowledge_id in
    <foreach collection="list" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

  <update id="update">
    update
    <include refid="table"/>
    <set>
      <if test="title!=null and title!=''">
        title = #{title},
      </if>
      <if test="knowledgeId!=null and knowledgeId!=''">
        knowledge_id = #{knowledgeId}
      </if>
    </set>
    <where>
      id = #{id}
    </where>
  </update>

  <select id="selectById" resultMap="ResultMap">
    select
    <include refid="column"/>
    from
    <include refid="table"/>
    where id = #{id}
  </select>

  <select id="getAll" resultMap="ResultMap">
    select
    <include refid="column"/>
    from
    <include refid="table"/>
  </select>

  <select id="getByKnowledgeId" resultMap="ResultMap">
    select
    <include refid="column"/>
    from
    <include refid="table"/>
    where knowledge_id = #{0}
  </select>

  <select id="getByAttribute" resultType="java.lang.String">
    select
    distinct(knowledge_id)
    from
    <include refid="table"/>
    where title like concat('%',#{0},'%')
  </select>

  <select id="countByTitle" parameterType="java.util.List" resultType="int">
    select
    count(id)
    from
    <include refid="table"/>
    where
    title in
    <foreach collection="list" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <select id="countByKnowledgeIdAndTitle" parameterType="java.util.Map" resultType="int">
    select
    count(id)
    from
    <include refid="table"/>
    where
    knowledge_id != #{knowledgeid}
    and title in
    <foreach collection="list" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>
</mapper>