<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ken.question.answering.system.mapper.knowledge.LemmaMapper">
  <resultMap id="ResultMap" type="cn.ken.question.answering.system.model.knowledge.Lemma">
    <id column="id" jdbcType="VARCHAR" property="lemmaId" />
    <result column="title" jdbcType="VARCHAR" property="lemmaTitle" />
    <result column="cropped_title" jdbcType="VARCHAR" property="lemmaCroppedTitle" />
    <result column="description" jdbcType="VARCHAR" property="lemmaDesc" />
    <result column="url" jdbcType="VARCHAR" property="lemmaUrl" />
    <result column="full_description" jdbcType="VARCHAR" property="lemmaFullDesc" />
  </resultMap>

  <sql id="table">lemma</sql>

  <sql id="column">
    id,title,cropped_title,description,url,full_description
  </sql>

  <sql id="insertColumnValue">
    #{lemmaId},#{lemmaTitle},#{lemmaCroppedTitle},#{lemmaDesc},#{lemmaUrl},#{lemmaFullDesc}
  </sql>

  <insert id="insert">
    replace into
    <include refid="table"/>
    (<include refid="column"/>)
    values (<include refid="insertColumnValue"/>)
  </insert>

  <delete id="deleteById">
    delete from
    <include refid="table"/>
    where id = #{id}
  </delete>

  <delete id="deleteByIdList">
    delete from
    <include refid="table"/>
    where id in
    <foreach collection="list" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

  <update id="update">
    update
    <include refid="table"/>
    <set>
      <if test="title!=null and title!=''">
        title = #{title},
      </if>
      <if test="classificationId!=null and classificationId!=''">
        classification_id = #{classificationId},
      </if>
      <if test="modifierId!=null and modifierId!=''">
        modifier_id = #{modifierId},
      </if>
      <if test="status!=null">
        status = #{status}
      </if>
    </set>
    <where>
      id = #{id}
    </where>
  </update>

  <select id="selectById" resultMap="ResultMap">
    select
    <include refid="column"/>
    from
    <include refid="table"/>
    where id = #{id}
  </select>

  <select id="count" resultType="int">
    select
    count(id)
    from
    <include refid="table"/>
  </select>

  <select id="selectByPage" resultMap="ResultMap">
    select
    <include refid="column"/>
    from
    <include refid="table"/>
    order by id asc
    limit #{0},#{1}
  </select>

  <insert id="batchInsert">
    replace into
    <include refid="table"/>
    (<include refid="column"/>)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.lemmaId},#{item.lemmaTitle},#{item.lemmaCroppedTitle},#{item.lemmaDesc},#{item.lemmaUrl},#{item.lemmaFullDesc})
    </foreach>
  </insert>
</mapper>